extends layout

block content

  .container
    h1=title
    .col-sm-offset-4
      br
      h3 #[strong Name:] #{doctor.name}
      h3 #[strong Email:] #{doctor.email}
      h3 #[strong Phone Number:] #{doctor.phone_number}

    hr
    h3.text-center
      a(href=doctor.url+'/delete') Delete Doctor
    h3.text-center
      a(href=doctor.url+'/update') Edit Doctor
