extends layout

block content
  .container
    h1=title
    .col-sm-offset-4
      h3 #[strong Doctor/s:] 
      each doc in surgery.doctor
        li
          a(href=doc.url) 
            h3 #{doc.name}
      h3 #[strong Patient:] 
        a(href=surgery.patient.url) #{surgery.patient.name}
      h3 #[strong Start Date:] #{surgery.start_date_formatted}
      h3 #[strong End Date:] #{surgery.end_date_formatted}
      h3 #[strong Status:] 
        if surgery.status=='Active'
          span.text-success #{surgery.status}
        else 
          span.text-danger #{surgery.status}
          
    hr
    h3.text-center
      a(href=surgery.url+'/delete') Delete Surgery
    h3.text-center
      a(href=surgery.url+'/update') Update Surgery
