extends layout

block content
  div.finder-form.col-sm-3
    h3= title1
    form(method='GET' action='')
      div.form-group
        label(for='doctor') Doctor: 
        select#doctor.form-control(type='select' name='doctor')
          option(value='') None
          for doctor in doctors
            option(value=doctor._id) #{doctor.name}
      div.form-group
        label(for='patient') Patient:
        select#patient.form-control(type='select' name='patient')
          option(value='') None
          for patient in patients
            option(value=patient._id) #{patient.name}
      div.form-group
        label(for='date') Surgery date:
        input#date.form-control(type='date', name='date' value='date')
      div.form-group
        label(for='status') Status:
        select#status.form-control(type='select' name='status')
          option(value='') None
          option(value='Active') Active
          option(value='Inactive') Inactive
      button.btn.btn-primary.btn-lg.center-block(type='submit') Search
  if list.length
    div.surgery-list.col-sm-9
      - var index = 1;
      h1= title
      ul
      table.table.table-striped.table-responsive
        thead
          tr
            th(scope='col') #
            th(scope='col') Doctor/s
            th(scope='col') Patient
            th(scope='col') Surgery Date and time
            th(scope='col') Status
        tbody
          each item in list
            tr
              th(scope='row') 
                a(href=item.url) Surgery ##{index++}
              td 
                each doc in item.doctor
                  li
                    a(href=doc.url) #{doc.name}
              td 
                a(href=item.patient.url) #{item.patient.name}
              td #{item.date_time_formatted}
              td #{item.status}
  else
    h3 #[strong There are no surgeries available]
  h3 
    a(href='/schedule/surgery/create') + Create new surgery
