extends layout

block content
  if doctors
    div.finder-form.col-sm-3
      h3= title1
      form(method='GET' action='')
        div.form-group
          label(for='doctor') Doctor: 
          select#doctor.form-control(type='select' name='doctor')
            option(value='') None
            for doctor in doctors
              option(value=doctor._id) #{doctor.name}
        div.form-group
          label(for='patient') Patient:
          select#patient.form-control(type='select' name='patient')
            option(value='') None
            for patient in patients
              option(value=patient._id) #{patient.name}
        div.form-group
          label(for='start_date') Surgery start date:
          input#start_date.form-control(type='date', name='start_date' value='start_date')
        div.form-group
          label(for='end_date') Surgery end date:
          input#end_date.form-control(type='date', name='end_date', value='end_date')
        div.form-group
          label(for='status') Status:
          select#status.form-control(type='select' name='status')
            option(value='') None
            option(value='Active') Active
            option(value='Inactive') Inactive
        button.btn.btn-primary.btn-lg.center-block(type='submit') Search
  
  if found_surgery
    div.found-surgery.col-sm-9
      - var index = 1;
      h1.text-center= title2
      ul
      table.table.table-striped.table-responsive
        thead
          tr
            th(scope='col') #
            th(scope='col') Doctor/s
            th(scope='col') Patient
            th(scope='col') Start Time
            th(scope='col') End Time
            th(scope='col') Status
        tbody
          each item in found_surgery
            tr
              th(scope='row') 
                a(href=item.url) Surgery ##{index++}
              td 
                each doc in item.doctor
                  li
                    a(href=doc.url) #{doc.name}
              td 
                a(href=item.patient.url) #{item.patient.name}
              td #{item.start_date_formatted}
              td #{item.end_date_formatted}
              td #{item.status}
  else 
    div.surgery-list.col-sm-9
      - var index = 1;
      h1= title
      ul
      table.table.table-striped.table-responsive
        thead
          tr
            th(scope='col') #
            th(scope='col') Doctor/s
            th(scope='col') Patient
            th(scope='col') Start Time
            th(scope='col') End Time
            th(scope='col') Status
        tbody
          each item in list
            tr
              th(scope='row') 
                a(href=item.url) Surgery ##{index++}
              td 
                each doc in item.doctor
                  li
                    a(href=doc.url) #{doc.name}
              td 
                a(href=item.patient.url) #{item.patient.name}
              td #{item.start_date_formatted}
              td #{item.end_date_formatted}
              td #{item.status}
      h3 
        a(href='/schedule/surgery/create') + Create new surgery
