extends layout

block content
  script(type='text/javascript').
    $(document).ready(function() {
      $('#doctor').multiselect({
        buttonWidth: '37vw',
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true
      });
    });
  if errors
    h3.text-center Please correct following items first:
    for error in errors
      h4.red-text.col-sm-offset-4!= error.msg
  if overlapSurgeries
    h3.text-center Please correct following error/s:
    each surgery in overlapSurgeries
      each doctor in selectedDoctor
        h4.red-text.col-sm-offset-4 Dr. #{doctor} has another active surgery at #{surgery.date_time_formatted}
    h4.red-text.col-sm-offset-4 Please choose another date or time or doctor and submit the form again
    
  form.col-sm-offset-4(method='POST' action='').col-sm-6
    h1= title
    div.form-group
      label(for='doctor') Doctor: 
      br
      select#doctor.form-control(type='select' name='doctor' required='true', multiple='multiple') 
        for doctor in doctors
          if surgery
            option(value=doctor._id) #{doctor.name}
          else
            option(value=doctor._id) #{doctor.name}
    div.form-group
      label(for='patient') Patient:
      select#patient.form-control(type='select', placeholder='Select patient' name='patient' required='true' )
        for patient in patients
          if surgery
            option(value=patient._id selected=(patient._id.toString()===surgery.patient._id.toString() ? 'selected' : false) ) #{patient.name}
          else
            option(value=patient._id) #{patient.name}
    div.form-group
      label(for='date') Surgery date:
      input#date.form-control(type='date', name='date' required='true' )
    div.form-group
      label(for='start_time') Surgery start time:
      input#start_time.form-control(type='time', name='start_time' value=(undefined===surgery ? '' : surgery.start_time)  required='true' )
    div.form-group
      label(for='end_time') Surgery end time:
      input#end_time.form-control(type='time', name='end_time', value=(undefined===surgery ? '' : surgery.end_time)  required='true')
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select', placeholder='Select status' name='status' required='true' )
        option(value='Active' selected=(undefined===surgery || surgery.status!='Active' ? false:'selected')) Active
        option(value='Inactive' selected=(undefined===surgery || surgery.status!='Inactive' ? false:'selected')) Inactive
    br
    button.btn.btn-primary.btn-lg.center-block(type='submit') Submit
